  <!-- Footer -->

  <footer>

    <!-- Tres menúes -->

    <div class="footerUno">
      <div class="menuUno">
          <a href="#">NOSOTROS</a>
          <a href="#">Acerca de nosotros</a>
          <a href="#">Nuestras sucursales</a>
          <a href="#">Publicidades</a>
          <a href="#">Contacto</a>
      </div>
      <div class="menuDos">
        <a href="#">INFORMACIÓN</a>
        <a href="#">Talles</a>
        <a href="#">Promociones de compras</a>
        <a href="#">Cómo comprar</a>
        <a href="#">Costos y formas de envío</a>
        <a href="#">Garantías</a>
        <a href="#">Políticas de cambio</a>
        <a href="#">Preguntas frecuentes</a>
        <a href="#">Políticas de privacidad</a>
        <a href="#">Defensa al consumidor</a>
    </div>
    <div class="menuTres">
        <a href="#">CLIENTES</a>
        <a href="#">Ingresá o registrate</a>
        <a href="#">Mi cuenta</a>
        <a href="#">Mi lista</a>
        <a href="#">Mapa del sitio</a>
        <span class="apartado-final">
            <i class="fas fa-phone"></i>
            <a href="#">CONTACTO 0800 222 SOLO (7656)</a> 
        </span>
        <span class="apartado-final">
            <a href="#">CENTRO DE ATENCIÓN TELEFÓNICA</a> 
        </span>
        <span class="apartado-final">
            <a href="#">Lunes a Viernes de 9:00hs a 19:00hs y Sábados de 9:00hs a 18:00hs</a>
        </span>
   
    </div>

</div>

<div class="footerDos">

    <div class="suscripcionMail">

        <!-- Suscripción por Mail -->

        <h5><b> 20% DE DESCUENTO POR SUSCRBIRTE A NUESTRO NEWSLETTER</b></h5>
        <h6>Aprovechá este descuento en tu próxima compra online</h6>
        <form action="#">
            <label for="email"></label>
            <input type="email" value="INGRESÁ TU MAIL">
            <button type="button" class="btn btn-primary btn-lg">SUSCRIBITE</button>

        </form>

    </div>

    <div class="social-media">

        <!-- Redes sociales -->

        <h2>SEGUINOS</h2>
            <span class="simbolosRedes">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-twitter-square"></i></a>
                <a href="#"><i class="fab fa-youtube-square"></i></a>
            </span>
        
    </div>

        <!-- Copyright y certificaciones -->
    
    <div class="compra-segura">

        <h2>COMPRA 100% SEGURA</h2>
        <h4>Nuestro sitio posee toda la seguridad para tu compra.</h4>

        <span><i class="fas fa-qrcode"></i></span>
        <p>UNLIMITED 2020</p>
    
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/owl.carousel.js"></script>
  <script src="/javascripts/owl.js"></script>
  

</footer>
</body>
</html>