<body>
  <!--header-->
  
  <header class="header">
               <div class="fantasma">   
                
              
              <i class="flete fas fa-truck"></i>
                <b class="envio">  </i>Envio gratis </b> 
                <b clase="compra"> ¡para compra mayores de $2500!</b> 
              </div>
                
          <div class="menu">
            <nav class="navbar navbar-expand-lg navbar-light ">
   
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon "></span>
                </button>
                <!--<a class="navbar-brand" href="#">Navbar</a>-->
                <i class="lupa fas fa-search"></i>
                  
                 
                  
                <!-- submenu -->
                <div class="collapse navbar-collapse " id="navbarNav">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href='/products'>PRODUCTOS<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="#">DEPORTES <span class="sr-only">(current)</span></a>
                    </li><li class="nav-item active">
                      <a class="nav-link" href="#">MARCAS  <span class="sr-only">(current)</span></a>
                    </li><li class="nav-item active">
                      <a class="nav-link" href="#">OFERTAS <span class="sr-only">(current)</span></a>
                    </li>
                    
           
                  </ul>
                 
                  <a class="nav-link" href="/users/register"> <i class="user far fa-user">USUARIO</i></a>
                </div>
              </nav>
              
  
          </div>
          <a href="/users/login"><i class="usuario far fa-user"></i></a>
          <div class="buscador"><input class="input"   type="serch" size="40">
            <i class="serch fas fa-search"></i>
          </div>
          <a href="/check"> <i class="carrito fas fa-cart-arrow-down"></i></a>
          <a href="/"><img  class="logo"  src="images/LOGO - SPORT.png" alt="logo"></a>
    </header>
        <!--/header-->